.login-panel {
  width:350px;margin:200px auto;
  font-size: 14px;

  .login-logo {
    width:150px;
  }
  .login-title {
    color:#a3a3a3;
    font-size:24px;
    margin:20px 0 0 0;
    display: inline-block;
  }
}